

.view_code{

    .declare{
        color: blue;
        padding: 2px 5px;

    }

    .functions{
        color: red;

    }


    .variable {
        padding: 2px 3px;
    }

    .source {
        margin-top: 30px;
    }

    p{
        margin: 10px 0px;
        font-weight: 500;
    }
}