@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font_root;
  font-size: $font_size_base;
  font-weight: normal;
  background: $color_white_rgb;
}

a {
  text-decoration: none;
  color: $color_blue_link;
  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  list-style: none;
}

input,
button {
  &:focus {
    outline: none;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.mt_50 {
  margin-top: 50px;
}

.mb_30 {
  margin-bottom: 30px;
}

.btn-common {
  width: 60px;
  height: 40px;
}

.circle-span {
  border-radius: 50%;
  position: relative;
  left: -10px;
  top: 10px;
  width: 6px;
  height: 6px;
  margin: 0px 0px 0px 0px !important;
}

.no_data {
  width: 100pc;
  float: center;
  padding: 20px;

  span {
    float: center !important;
    position: absolute;
    left: 50%;
    font-size: 16px;
  }
}

li {
  cursor: pointer;
}

pre {
  border: solid rgba(139, 69, 19, 0.258) 1px;
  background-color: rgba(251, 237, 227, 0.36);
  padding: 10px;
  min-width: 600px;
}
