@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese");
@import "./variables";

body {
  font-family: $font_root;
  font-size: $font_size_base;
  font-weight: normal;
  background: $color_white_rgb;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration:underline;
  }
}

li {
  list-style: none;
}

button {
  &:focus {
    outline: none;
  }
}

.mt_50 {
  margin-top: 50px;
}

.mb_50 {
  margin-bottom: 50px;
}

.btn-common {
  width: 60px;
  height: 40px;
}

.circle-span {
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: -10px;
  width: 6px;
  height: 6px;
  margin: 0px;
}

.no_data {
  width: 100pc;
  float: center;
  padding: 20px;

  span {
    float: center !important;
    position: absolute;
    left: 50%;
    font-size: 16px;
  }
}

li {
  cursor: pointer;
}

pre {
  border: solid rgba(139, 69, 19, 0.258) 1px;
  background-color: rgba(251, 237, 227, 0.36);
  padding: 10px;
  min-width: 600px;
}

.box_wrap {
  height: 360px;
  overflow-y: scroll;
  background: $color_white;
  box-shadow: rgba(90, 102, 124, 0.1) 0px 2px 10px 0px;
  .seconds_time {
    color: $color_secondary;
  }
}

.header_top {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px 15px 5px;
  .title {
    font-size: $font_size_above_medium;
    font-weight: normal;
    i {
      font-size: $font_size_medium;
      margin-right: 10px;
    }
  }
}

.container {
  margin: 10px 50px;
}

.breadcrumb {
  padding: 0px 5px;
  li {
    float: left;
    line-height: 24px;
    a {
      padding: 0px 5px;
      font-size: $font_size_small;
      color: $color_secondary;
      position: relative;
      &:after {
        content: "/";
        position: absolute;
        right: -3px;
      }
    }
  }
}
