

@media only screen {
  [class*="col-"] {
    padding: none;
  }

  .row {
    display: flex;
  }
}

@media (max-width: 950px) and (min-width: 260){
  .nf {
    display: none !important;
  }
}

@media only screen and (min-width: 951px){
  .phone {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 560px) {
 
}
