@import './variables';

// .layout-content {
//   max-width: 1200px;
//   margin: 0px auto;
//   padding: 70px 16px 20px;
//   .flexBox {
//     display: flex;
//     -webkit-box-pack: justify;
//     justify-content: space-between;
//     -webkit-box-align: center;
//     align-items: center;
//   }
//   & h3 {
//     color: rgb(0, 0, 0);
//     font-family: DINPro-Medium;
//     font-size: 20px;
//     margin: 0px;
//   }
//   .pc-container {
//     .sub-title {
//       margin-top: 10px;
//       font-size: 12px;
//       color: rgb(132, 142, 156);
//       & span {
//         color: rgb(72, 81, 93);
//         font-family: DINPro-Bold;
//       }
//     }
//   }
//   .detailBlocks {
//     .flex-wrap {
//       display: flex;
//       -webkit-box-pack: justify;
//       justify-content: space-between;
//       align-items: flex-end;
//       margin-bottom: 1.5rem;
//     }
//     .copy_to_add {
//       margin-left: 10px;
//       cursor: pointer;
//     }
//     .flexBox {
//       align-items: flex-end;
//     }
//     & h3 {
//       margin: 0px 1.25rem 0px 0px;
//     }
//     .id_status {
//       font-size: 16px;
//       font-family: DINPro-Bold;
//       color: rgb(132, 142, 156);
//     }
//   }
//   .transactions {
//     .sub-title {
//       font-size: 13px;
//     }
//     .flex-header {
//       align-items: flex-end;
//       justify-content: left;
//     }
//     & h3 {
//       margin: 0px 1.25rem 0px 0px;
//     }
//     .id_status {
//       font-size: 16px;
//       font-family: DINPro-Bold;
//       color: rgb(132, 142, 156);
//     }
//   }
//   // .detailTransactions {
//   // }
// }

// .home-content {
//   background-color: rgb(253, 253, 253);
//   height: 100%;
//   flex: 1 1 0%;
// }
// .breadcrumb {
//   color: #848e9c;
//   font-size: 0.85rem;
// }
// .breadcrumb-item a {
//   color: #848e9c;
//   text-decoration: none;
//   cursor: pointer;
// }
// .breadcrumb-separator {
//   display: inline-block;
//   padding: 0 0.3125rem;
// }
// .breadcrumb-item:last-child,
// .breadcrumb-item:last-child a {
//   color: #212833;
// }

// .text_overflow {
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
// }
// --------------------------------------------------------------
// Home.js
.homeContainer {
  background-color: #fdfdfd;
  height: 100%;
  flex: 1 1 0%;
  .homeContent {
    margin: 0 auto;
    max-width: $pc-contentmaxwidth;
    padding: rem(30) rem(16);
    @include mobile {
      padding: rem(16) rem(15);
      max-width: px2rem($mobi-contentmaxwidth);
    }
  }
  .homeTopContainer {
    margin-bottom: rem(30);
    @include mobile {
      margin: 0;
    }
  }
}

.blocks_box {
  width: 100%;
  .shadow_box {
    height: rem(360);
    overflow: auto;
  }
}
.transactions_box {
  padding-left: rem(16);
  box-sizing: border-box;
  width: 100%;
  @include mobile {
    padding-left: 0;
  }
  .shadow_box {
    height: rem(360);
    overflow: auto;
  }
}
.chaininfo_box {
  width: 100%;
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: rem(60);
    padding: 0px rem(16);
    box-sizing: border-box;
    .title {
      color: #212833;
      font-family: DINPro-Bold;
      font-size: rem(14);
    }
    .desc {
      color: #848e9c;
      font-size: rem(12);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  @include pc {
    display: inline-flex;
    justify-content: space-between;
    .row {
      height: rem(50);
      border-bottom: 0;
    }
  }
}
.flex_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(16);
  .title {
    color: #212833;
    margin: 0;
    font-size: rem(20);
    font-weight: normal;
    font-family: DINPro-Medium;
    line-height: 1;
    i {
      font-size: rem(20);
      margin-right: rem(8);
    }
  }
  a {
    color: #848e9c;
    font-size: rem(14);
    cursor: pointer;
    font-family: DINPro-Regular;
  }
}
.wrapperRowBox {
  &:hover {
    background-color: rgba(234, 236, 239, 0.2);
  }
  &:last-child .border-bottom {
    border-bottom: 0;
  }
  .innerRowBox {
    padding: rem(10) 0px;
    margin: 0px rem(16);
    box-sizing: border-box;
    height: rem(60);
  }
  .row {
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(5);
    font-family: DINPro-Regular;
    font-size: rem(12);
    white-space: nowrap;
    &.title {
      font-family: DINPro-Medium;
      font-size: rem(14);
    }
    .primary-color {
      color: #48515d;
      &:hover {
        text-decoration: none;
      }
    }
    .secondary-color {
      color: #848e9c;
    }
    .info-text {
      color: #4a90e2;
    }
    a {
      cursor: pointer;
      color: #4a90e2;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .padding-r {
      padding-right: rem(10);
      box-sizing: border-box;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bannerContainer {
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to right, $color_blue_lagoon 0%, $color_blue 50%, $color_blue_lagoon 100%);
  background-position: left bottom;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 8px 0px rgba(234, 236, 239, 0.5);
  padding: rem(72) rem(20) rem(50);
  h3 {
    margin: 0px;
    color: #fff;
    font-size: rem(28);
    font-weight: normal;
  }
  @include mobile {
    h3 {
      font-size: rem(24);
      text-align: center;
    }
  }
}
.searchBox {
  margin-top: rem(60);
  position: relative;
  transform: none;
  left: 0;
  max-width: rem(470);
  min-width: rem(290);
  width: 100%;
}
.searchBoxHeader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  .searchContainer {
    transition: all 0.3s ease;
    width: rem(350);
    &:hover {
      width: rem(400);
    }
  }
}
.mobileIconSearch {
  color: #848e9c;
  font-size: rem(22);
  margin-right: rem(20);
}
.mobileIconMenu {
  display: inline-block;
  cursor: pointer;
  i {
    color: #848e9c;
    font-size: rem(22);
  }
  &:hover {
    opacity: 0.7;
  }
}
.searchContainer {
  [tabindex='-1']:focus {
    outline: none !important;
  }
  & input {
    background: rgba(4, 114, 142, 0.2);
    color: #fff;
    font-size: rem(12);
    font-family: ProximaNova-Regular;
    text-overflow: ellipsis;
    ::placeholder {
      color: red;
    }
  }
  .anticon {
    color: inherit;
  }
  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 45px;
  }
  .ant-input:hover {
    border-color: #f0b90b;
    // border-right-width: 1px !important;
  }
  .ant-input:focus {
    border-color: #f0b90b;
    // border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 0.1875rem rgba(240, 185, 11, 0.2);
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: #f0b90b;
  }
}

.mobileMenuBox {
  // min-height: 100%;
  // width: rem(300);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  font-size: rem(16);
  // transform: translate(0px, 0px);
  background: linear-gradient(133deg, #1c222c 0%, #12161c 100%);
  transition: transform 0.3s linear 0s;
  // animation: 0.3s linear 0s 1 normal none running bounce;

  .btcClose {
    padding: rem(16);
    text-align: right;
    i {
      color: #848e9c;
      font-size: rem(22); //17
    }
  }
  .menu {
    height: 100%;
    width: rem(280);
    box-sizing: border-box;
    padding-left: 0px;
    margin: 0;
    list-style: none;
    font-size: rem(17);
    &,
    a {
      color: #fff;
      font-family: DINPro-Regular;
      text-decoration: none;
    }
  }
  .menuItems {
    position: relative;
    a {
      display: block;
      padding: rem(16);
      &:active {
        background-color: #212833;
      }
    }
    > span {
      display: block;
      padding: rem(16);
    }
    i {
      margin-right: rem(10);
      font-size: rem(17);
    }
  }
}
