@import './variables';
@import './common';
@import './responsive';

.layout-content {
  max-width: 1200px;
  margin: 0px auto;
  padding: 70px 16px 20px;
}
.home-content {
  background-color: rgb(253, 253, 253);
  height: 100%;
  flex: 1 1 0%;
}
