@import "../../../sass/common";

.banner {
  // padding: 30px 0;
  color: $color_white;
  // background-color: $color_blue;
  background: linear-gradient(
    to right,
    $color_blue_lagoon 0%,
    $color_blue 50%,
    $color_blue_lagoon 100%
  );
  width: 100%;
  height: 200px;

  .flex {
    // position: absolute;
    // left: 0px;
    padding: 10px 0;
    width: 100%;
    // height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .type-searh {
      width: 400px;
      height: 500px;
    }
  }

  h3 {
    font-size: $font_size_large;
    font-weight: 500;
    color: inherit;
  }

  .direc_link {
    color: $color_white;
    display: block;
    margin: 10px 0 20px 0;
  }
}
