// footer
.footer {
  width: 100%;
  height: auto;
  min-height: 50px;
  background: rgb(228, 228, 228);
  z-index: 10;
  position: relative ;
  margin: 0px;
  
  // left: 0;
  .container {
    display: flex;
    justify-content: flex-end;
  }
  .infomation {
    position: absolute;
    right: 10px;
    height: auto;

    p{
      margin-bottom: 3px;
    }

    i{
      font-size: 16px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      border-radius: 50%;
      background-color: rgb(192, 192, 192);
      margin: 0px 6px 0px 8px;
      padding: 5px;
      float: center;

      &:hover{
        color: rgba(214, 245, 14, 0.904);
      }
    }

    span{
      width: 30px;
      height: 30px;
    }
  }
}
