.container-call-contract {
  position: relative;
  width: 100%;
  height: 650px; //100vh;
  overflow: hidden;
  .side-left {
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    .rc-tabs-tab {
      padding: 18px;
      margin-right: 10px;
    }
    .rc-tabs-top {
      border: none;
    }
    .rc-tabs-nav-container {
      font-size: 14px;
    }
    .wrapper-funcs {
      display: flex;
      flex-direction: column;
      // margin-top: 28px;
      // padding-right: 40px;
      // border-right: 1px solid rgb(234, 236, 239);
      li {
        margin: 10px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        // width: 200px;
        padding-left: 20px;
        padding-right: 10px;
        // margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        font-size: inherit;
        position: relative;
        box-sizing: border-box;
        color: rgb(38, 49, 71);
        font-weight: 400;
        border-radius: 3px;
        // border-left: 4px solid rgb(255, 255, 255);
        border-left: 4px solidf #eee;
        // box-shadow: rgba(223, 226, 231, 0.5) 0px 0px 5px 0px;
        background: #eee;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      li:hover {
        font-weight: 600;
        box-shadow: rgba(223, 226, 231, 0.5) 0px 0px 5px 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        // background: rgb(255, 255, 255);
        background: #f5f2f0;
        border-left: 4px solid rgb(21, 181, 221);
      }
      .on {
        box-shadow: rgba(223, 226, 231, 0.5) 0px 0px 5px 0px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-weight: 600;
        // background: rgb(255, 255, 255);
        background: #f5f2f0;
        border-left: 4px solid rgb(21, 181, 221);
      }
      .typeFunc {
        font-size: 0.9em;
        width: 33%;
        text-align: left;
      }
    }
  }
  .dragbar {
    position: absolute;
    top: 0px;
    // width: 0.5em;
    right: 0;
    bottom: 0;
    cursor: col-resize;
    z-index: 999;
    border-right: 1px solid #f3f3f3;
  }
  .side-main {
    // [tabindex='-1']:focus {
    //   outline: none !important;
    // }
    left: 300px;
    width: 75%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    // .anticon-spin::before {
    //   display: inline-block;
    //   -webkit-animation: loadingCircle 1s infinite linear;
    //   animation: loadingCircle 1s infinite linear;
    // }
    // .anticon-spin {
    //   display: inline-block;
    //   -webkit-animation: loadingCircle 1s infinite linear;
    //   animation: loadingCircle 1s infinite linear;
    // }
    .contrainer-main {
      padding: 10px 50px;
      width: 100%;
      height: 100%;
      overflow-x: scroll;
      .connector-wallet {
        padding: 10px 0 20px;
        #connector {
          font-size: 12px;
          color: #28a745 !important;
        }
      }
      .wrapper-func {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 5px;
        margin-bottom: 1rem !important;
      }
      .info-box {
        line-height: 1;
        font-size: 90%;
        background-color: #eee;
        padding: 10px 12px;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      }
      .func-body {
        padding: 1.25rem;
        color: #212529;
        .ant-input-affix-wrapper {
          margin-bottom: 1rem;
        }
        .ant-btn {
          margin-right: 2rem;
        }
        & input,
        & textarea {
          min-width: 100%;
        }
        & textarea {
          margin-bottom: 1rem;
        }
        & label {
          display: inline-block;
          margin-bottom: 0.5rem;
        }
        .myanswer {
          display: block;
          margin-top: 20px;
          line-height: 1.5;
          & pre {
            font-size: 12px;
          }
          .text-success {
            color: #28a745 !important;
            & i {
              font-weight: 700;
            }
          }
          .error {
            color: #dc3545;
          }
        }
      }
    }
  }
}